#app-wrapper {
    border: 2px solid black;
    background-color: #DCDCDC;
    width: 600px;
    height: 600px;
    border-radius: 5px;
}

div.container {
	background-color: #F0F0F0;
	border-radius: 5px;
	margin: 5px 5px;
	display: block;
	padding: 5px 5px;
	overflow: auto;
}

#users-online {
    margin: 0px 5px 5px 5px;
    height: 20px;
}

#message-container, #user-list {
    margin: 0px 5px 5px 5px;
	height: 510px;
}

#message-container {
    width: 440px;
    float: left;
}

#user-list {
    width: 125px;
    margin: 0px 5px 5px 0px;
    float: left;
    overflow-x: auto;
}

.message {
	font-family: "Verdana", sans-serif;
	font-size: 14px;
}

.chat {
    padding: 2px 0px;
}

input {
    width: 490px;
    height: 30px;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
    padding: 5px 5px;
    margin: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
	width: 90px;
    height: 30px;
    background-color: #72BCD4;
    font-size: 14px;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 5px 5px 0px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
	background-color: #66A9BE;
}